___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [2]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [3]:
df = pd.read_csv("salaries.csv")

** Check the head of the DataFrame. **

In [39]:
df.head(5)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [10]:
df.BasePay.mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [11]:
df.OvertimePay.max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [15]:
df.loc[df.EmployeeName == "JOSEPH DRISCOLL"]["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [16]:
df.loc[df.EmployeeName == "JOSEPH DRISCOLL"]["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [18]:
df.loc[df.TotalPayBenefits == df.TotalPayBenefits.max()]["EmployeeName"]

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [19]:
df.loc[df.TotalPayBenefits == df.TotalPayBenefits.min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [32]:
df.groupby(["Year"]).BasePay.mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [29]:
df.JobTitle.unique().size

2159

** What are the top 5 most common jobs? **

In [41]:
df.groupby(["JobTitle"]).size().nlargest(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [66]:
df1 = df[df.Year == 2013]
df1.groupby(["JobTitle"]).size()[df1.groupby(["JobTitle"]).size() == 1].count()

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [5]:
print(df.EmployeeName[df.JobTitle.str.lower().str.contains("chief")].str.lower().unique().size)
print(df.EmployeeName[df.JobTitle.str.contains("Chief")].unique().size)
df.EmployeeName[df.JobTitle.str.lower().str.contains("chief")].str.lower().unique()

392
313

array(['patrick gardner', 'david sullivan', 'alson lee', 'michael morris',
       'joanne hayes-white', 'arthur kenney', 'david franklin',
       'marty ross', 'victor wyrsch', 'gregory suhr', 'raymond guzman',
       'denise schmitt', 'monica fields', 'david shinn', 'jose velo',
       'brendan ward', 'michael thompson', 'thomas abbott',
       'thomas siragusa', 'bryan rubenstein', 'james dudley',
       'kirk richardson', 'kevin cashman', 'mark kearney', 'charles crane',
       'robert postel', 'thomas shawyer', 'richard busalacchi',
       'kevin burke', 'eduardo gonzalez', 'lorrie kalos', 'michael bryant',
       'mark gonzales', 'rex hale', 'kevin smith', 'kevin taylor',
       'samson lai', 'khairul ali', 'john hickey', 'zachary pumphrey',
       'jesse smith', 'therese stewart', 'marisa moret', 'michael kearney',
       'matthew mcnaughton', 'dennis sutter', 'burk delventhal',
       'robert serrano', 'james vannucchi', 'barbara schultheis',
       'frank cardinale', 'james harrigan', 'joanne hoeper', 'james blake',
       'rudy castellanos', 'linda ross', 'robert maerz', 'david pfeifer',
       'william siffermann', 'sharon woo', 'mark johnson', 'wendy still',
       'raemona williams', 'robert bryan', 'julia m c friedlander',
       'julie van nostern', 'aleeta van runkle', 'donald margolis',
       'james emery', 'wayne snodgrass', 'theresa mueller', 'alex tse',
       'matthew rothschild', 'vicki clayton', 'paul henderson',
       'noreen ambrose', 'maria bee', 'kimiko burton', 'owen clements',
       'jerry coleman', 'june cravet', 'denise newman', 'braden woods',
       'kate herrman stacy', 'john cremen', 'frank kosta', 'vincent nolan',
       'cherish murdock', 'caryn bortnick', 'thomas doudiet',
       'ronald lewin', 'albert waters ii', 'allen nance', 'sabrina butler',
       'ellen brin', 'gerald scullion', 'george wong', 'james crisolo',
       'perry bonelli', 'kenneth payne', 'anthony smerdel',
       'matthew gonzalez', 'gregory chase', 'wayne chan', 'leo martinez',
       'joe guerra', 'michael haase', 'parveen joshi', 'neil friedman',
       'daniel lowrey', 'steven panelli', 'michael weisenberger',
       'audry lee', 'emrulkayes akter', 'ron allen', 'eric kondo',
       'john aires', 'george engel', 'richard yee', 'steven jones',
       'robert matcham', 'roberto mclean', 'rosemary bosque',
       'van jackson', 'russell ng', 'carlos sanchez', 'thomas cotter',
       'kathleen mccarthy-boyce', 'ron huberman', 'tomio nakadegawa',
       'arturo lopez', 'daniel lazzari', 'mark pandori', 'robert peterson',
       'charles wegerle', 'andrew clark', 'marilyn lopes',
       'nerivaldo santos', 'carla godfrey', 'wesley ng',
       'pedro mendoza jr.', 'james struble', 'robert hanley',
       'steven kohmann', 'jamie padover', 'sheila calabro',
       'christopher molina', 'jeffrey yee', 'gerard murphy',
       'gerardo segarra', 'luisa wong', 'dale miller', 'viktor kirienko',
       'jimmy kirk', 'john rolandelli', 'jacqueline ortiz-forman',
       'amor bautista', 'michael gay', 'joe gibson', 'kevin bolter',
       'natividad ramirez', 'jean hassett', 'lauren bell', 'jackson gee',
       'hernan miras', 'bethsaida ruiz', 'george vaughan',
       'christine schwartz', 'loretta cecconi', 'charles lee',
       'tuti suardana', 'martha espana', 'christine del-fava',
       'aaron stevenson', 'rachel gosiengfiao', 'jennifer novak',
       'deborah brown', 'emily kretz', 'sylvia thai', 'peter aviles',
       'sogra kadir', 'shahin shaikh', 'david koch', 'david palma',
       'wai-fong cheung', 'cris logia-jr', 'artie kelly', 'christina wang',
       'judith boyajian', 'mark antonio', 'teresa caffese', 'paula jesson',
       'tony durkee', 'ann castillo', 'sharon jackson', 'sara bennett',
       'cheryl coleman', 'james taylor', 'john wall', 'brent powell',
       'james barden', 'norman daley', 'simon lee', 'patrick boyd',
       'thomas harvey', 'pete fay jr', 'jeffrey myers', 'lyn tomioka',
       'george garcia', 'michael biel', 'samuel romero', 'edmund dea',
       'julia m friedlander', 'richard mcgee', 'steven bokura',
       'ronald flynn', 'danny chou', 'freya horne', 'matthew freeman',
       'katherine johnson', 'martin krizay', 'sylvia selinger',
       'christine del fava', 'artie l kelly', 'gregory p suhr',
       'joanne m hayes-white', 'samson  lai', 'michael j biel',
       'marty a ross', 'mark j johnson', 'bryan w rubenstein',
       'john j loftus', 'michael j morris', 'david  shinn',
       'lorrie a kalos', 'lyn  tomioka', 'denise a schmitt',
       'rudy j castellanos', 'thomas f abbott', 'pete l fay jr',
       'khairul a ali', 'john a hickey', 'brendan a ward',
       'kirk w richardson', 'edmund g dea', 'michael r bryant',
       'kenneth a lombardi', 'kevin w smith', 'jose l velo',
       'jeffrey  myers', 'kyle j merkins', 'rex j hale', 'victor h wyrsch',
       'kevin d taylor', 'samuel  romero', 'zachary w pumphrey',
       'denise l newman', 'michael i thompson', 'ken  yee',
       'thomas e harvey', 'john c cremen', 'richard e mcgee',
       'charles  crane', 'raemona e williams', 'matthew e gonzalez',
       'james m vannucchi', 'joanne m hoeper', 'brook  baker',
       'burk e delventhal', 'david a pfeifer', 'wendy s still',
       'noreen m ambrose', 'robert s maerz', 'matthew j rothschild',
       'sharon  woo', 'kimiko c burton', 'thomas p oconnor',
       'freya a horne', 'julie  van nostern', 'june d cravet',
       'kate herrman  stacy', 'donald p margolis', 'jerry p coleman',
       'theresa l mueller', 'james  emery', 'robert a bryan',
       'aleeta  van runkle', 'ronald p flynn', 'owen j clements',
       'wayne k snodgrass', 'paul d henderson', 'cherish  murdock',
       'david m merin', 'ana  gonzalez', 'cheryl s adams',
       'steven m bokura', 'eileen m malley', 'sheryl l bregman',
       'jonathan  givner', 'yvonne r mere', 'albert b waters ii',
       'katherine l johnson', 'matthew s freeman', 'martin j krizay',
       'perry j bonelli', 'james i dudley', 'kenneth l payne',
       'gregory j chase', 'steven r panelli', 'neil d friedman',
       'anthony  grieco', "patrick  o'riordan", 'michael j weisenberger',
       'ron h allen', 'ronald k tom', 'michael g gay', 'arturo  lopez',
       'rosemary v bosque', 'nerivaldo c santos', 'eric  kondo',
       'robert e peterson', 'robert w hanley', 'marilyn j lopes',
       'james t struble', 'daniel m lazzari', 'jimmy l kirk',
       'kevin d bolter', 'kevin p cashman', 'amor c bautista',
       'viktor  kirienko', 'joe w gibson', 'loretta m cecconi',
       'george d vaughan', 'john  aires', 'david w kolkana',
       'kelly m toth', 'mark y antonio', 'tuti i suardana',
       'wai-fong c cheung', 'deborah l brown', 'rachel a gosiengfiao',
       'jennifer l novak', 'sylvia n thai', 'cheryl l coleman',
       'peter  aviles', 'cuong  quach', 'shahin p shaikh',
       'artie l l kelly', 'sara k bennett', 'sylvia m selinger',
       'ann m castillo', 'jamie  padover', 'john  rolandelli',
       'paula  jesson', 'judith a boyajian', 'james m blake',
       'sharon c jackson', 'leo m martinez', 'braden c woods',
       'tony e durkee', 'anita s lee', 'george h garcia', 'julian m stark',
       'sogra  kadir', 'emily a kretz', 'william j coaker jr.',
       'charlie orkes', 'hector m sainez', 'sharon ferrigno', 'ken yee',
       'brook baker', 'nikolas p lemos', 'jonathan givner',
       'katherine w miller', 'marshall khine', 'dyana m lechuga',
       'wade k chow', "patrick o'riordan", 'anthony grieco',
       'william e blackwell jr', 'bradley k luken', 'martin m look',
       'ko ko zin', 'mark a naddy', 'rolando c lopez', 'james m ryan',
       'paul h mabry', 'cuong quach', 'janice gragasin',
       'ryan l butterfield', 'patrick w gillespie', 'christopher l ochoa'], dtype=object)

In [60]:
# The above answer is different. Can't see why it's wrong.
# Also the same answer in solution gives 627 instead of 477.
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False
sum(df['JobTitle'].apply(lambda x: chief_string(x)))

627

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [63]:
df["titlelen"]=df.JobTitle.apply(len)
df[['titlelen','TotalPayBenefits']].corr()

                  titlelen  TotalPayBenefits
titlelen          1.000000         -0.036878
TotalPayBenefits -0.036878          1.000000

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!